{% extends "djangocms_translations/base.html" %}
{% load i18n cms_tags %}

{% block content %}
    <h1>Choose quote</h1>
    <form id="choose-quote" action="" method="post" class="frm">
        {% csrf_token %}
        <fieldset class="frm-horizontal">
            {{ form.as_p }}
        </fieldset>
        <input type="submit" value="Submit" />
    </form>
    <script type="text/javascript">
        document.querySelector('#choose-quote').addEventListener('submit', function (e) {
            document.querySelector('#choose-quote [type=submit]').setAttribute('disabled', true);
        });
    </script>
{% endblock content %}
