{% extends "djangocms_translations/base.html" %}
{% load i18n cms_tags %}

{% block content %}
	<h1>Add a new translation request</h1>
	<form action="" method="post" class="frm">
	    {% csrf_token %}
		{% for field in form.hidden_fields %}
			<p>{{ field }}</p>
		{% endfor %}
	    <fieldset class="frm-horizontal">
			{% if form.selected_page %}
                {% page_attribute "page_title" form.selected_page as page_title %}
				<p>{% blocktrans %}Selected page: {{ page_title }}{% endblocktrans %}</p>
			{% else %}
				<p>{% trans "No page selected" %}</p>
			{% endif %}
			{% for field in form.visible_fields %}
				<p>
                    {{ field.label_tag }}
                    {{ field }}
                </p>
			{% endfor %}
	    </fieldset>
        <input type="submit" value="Submit" />
	</form>
{% endblock content %}
