{% extends "djangocms_translations/base.html" %}
{% load i18n admin_urls cms_tags %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst|escape }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
    &rsaquo; {% trans 'Error log' %}
    </div>
{% endblock %}

{% block content %}
<div class="results">
    <table id="result_list">
        <thead>
            <tr>
                <th>{% trans 'Time' %}</th>
                <th>{% trans 'Status' %}</th>
                <th>{% trans 'Message' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object.imports.all %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>{{ item.date_created }}</td>
                <td>{{ item.get_state_display }}</td>
                <td>{{ item.message }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">{% trans 'No imports logged' %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
