include LICENSE.txt
include README.rst
recursive-include djangocms_translations/locale *
recursive-include djangocms_translations/static *
recursive-include djangocms_translations/templates *
recursive-exclude * *.py[co]
