{% extends "admin/change_form.html" %}
{% load i18n %}
{% block content %}
    <style type="text/css">
        form .pages-list label {
            text-transform: none !important;
        }
        form .pages-list > ul {
            padding-left: 0;
            padding-right: 0;
            margin-top: 2px !important;
            border: none !important;
        }
        form .pages-list > ul > li {
            padding: 0 !important;
            border: none !important;
        }
        form .pages-list > label,
        form .pages-list > ul > li > label {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            padding: 7px 10px 6px !important;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin: 0;
            width: 100%;
        }
        form .pages-list > label input,
        form .pages-list > ul > li > label input {
            position: static !important;
            margin: 0 10px 0 0 !important;
        }
        form .pages-list > ul > li > label a {
            display: none;
            margin-left: auto;
            white-space: nowrap;
        }
        form .pages-list > ul > li > label a + a {
            margin-left: 10px;
        }
        form .pages-list > ul > li > label:hover a {
            display: block;
        }
        form .pages-list > ul > li > label.checked {
            background-color: rgba(0, 187, 244, 0.2);
        }
        form .pages-list > label:hover,
        form .pages-list > ul > li > label:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
        form .pages-list > ul > li > label a.select-children {
            color: #666;
        }
    </style>
    {% if errors %}
        <p class="errornote">
        {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        {% for error in adminform.non_field_errors %}
            <br>{{ error|safe }}
        {% endfor %}
        </p>

    {% endif %}

    <p>
        Source language: {{ translation_request.get_source_language_display }} <br>
        Target language: {{ translation_request.get_target_language_display }} <br>
        Provider backend: {{ translation_request.get_provider_backend_display }} <br>
    </p>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <fieldset class="module aligned">
                {% for field in adminform %}
                    <div class="form-row">
                        <div{% if field.errors %} class="errors"{% endif %}>
                            {% for error in field.errors %}
                                {{ error|safe }}
                            {% endfor %}
                            <div class="pages-list">
                                <h2>{{ field.label }}</h2>
                                <label><input id="select-all" type="checkbox"> Select all</label>
                                {{ field }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
        </div>
        <div class="submit-row">
            <input type="submit" value="{% trans "Send for quote" %}" class="default" name="send-quote">
            <input type="submit" value="{% trans "Send without quote" %}" class="default" name="send-without-quote">
            <a href="{% url 'admin:translate-in-bulk-back' %}" value="{% trans "Back" %}" class="button default" name="back">"{% trans "Back" %}"</a>
        </div>
    </form>
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function() {
                var selectAll = document.querySelector('#select-all');
                var checkboxes = document.querySelectorAll('.pages-list ul input[type=checkbox]');
                var selectChildrenLinks = document.querySelectorAll('.pages-list ul a.select-children');
                var checkboxesArray = Array.prototype.slice.call(checkboxes);
                var isEveryCheckboxChecked = function (checkboxes) {
                    return checkboxes.every(function (checkbox) {
                        return checkbox.checked;
                    });
                }

                selectAll.addEventListener('change', function (e) {
                    if (this.checked) {
                        checkboxesArray.forEach(function (checkbox) {
                            checkbox.checked = true;
                            checkbox.parentNode.className = 'checked'
                        });
                    } else {
                        checkboxesArray.forEach(function (checkbox) {
                            checkbox.checked = false;
                            checkbox.parentNode.className = ''
                        });
                    }
                });

                checkboxesArray.forEach(function (checkbox) {
                    checkbox.addEventListener('change', function () {
                        if (!this.checked) {
                            selectAll.checked = false;
                            this.parentNode.className = ''
                        } else {
                            this.parentNode.className = 'checked'
                            if (isEveryCheckboxChecked(checkboxesArray)) {
                                selectAll.checked = true;
                            }
                        }
                    });
                });

                selectChildrenLinks.forEach(function (link) {
                    var path = $(link).parent().find('[data-path]').attr('data-path');
                    var matchingPathCheckboxes = $(checkboxesArray).filter(function () {
                        return !!this.parentNode.querySelector('span[data-path^="' + path + '"]');
                    });

                    if (matchingPathCheckboxes.length < 2) {
                        $(link).remove();
                        return;
                    };
                    matchingPathCheckboxes.each(function (i, element) {
                        element.addEventListener('change', function () {
                            if (isEveryCheckboxChecked(matchingPathCheckboxes.toArray())) {
                                link.innerText = 'Unselect with children';
                            } else {
                                link.innerText = 'Select with children';
                            }
                        });
                    });
                    link.addEventListener('click', function (event) {
                        event.preventDefault();

                        var checked = true,
                            text = 'Unselect with children';
                        if (this.innerText.includes('Unselect')) {
                            checked = false;
                            text = 'Select with children';
                        }

                        matchingPathCheckboxes.each(function(i, element) {
                            $(element).prop('checked', checked);
                        });
                        if (isEveryCheckboxChecked(checkboxesArray)) {
                            selectAll.checked = true;
                        } else {
                            selectAll.checked = false;
                        }

                        // updating text of links for children of this node
                        var matchingPathLinks = $('.pages-list ul a.select-children').filter(function () {
                            return !!this.parentNode.querySelector('span[data-path^="' + path + '"]');
                        });
                        matchingPathLinks.each(function (i, element) {
                            $(element).html(text);
                        });

                        // updating text of links for parents of this node
                        var parentLinks = $('.pages-list ul a.select-children').filter(function () {
                            return !!this.parentNode.querySelector('span[data-path^="' + path.slice(0, 4) + '"]');
                        }).not(matchingPathLinks);
                        parentLinks.each(function (i, link) {
                            var path = $(link).parent().find('[data-path]').attr('data-path');
                            var matchingParentPathCheckboxes = $('.pages-list ul input[type="checkbox"]').filter(function () {
                                return !!this.parentNode.querySelector('span[data-path^="' + path + '"]');
                            });
                            if (isEveryCheckboxChecked(matchingParentPathCheckboxes.toArray())) {
                                $(link).html('Unselect with children');
                            } else {
                                $(link).html('Select with children');
                            }
                        });
                    });
                });
            });
        })(django.jQuery);
    </script>
{% endblock %}
