{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
    {% if original.can_import_from_archive %}
        <script>
            function closeSideframe() {
                try {
                    window.top.CMS.$('.cms-sideframe-close').trigger('click.cms.sideframe');
                } catch(e) {}
            }
        </script>
        {% url 'admin:translation-request-adjust-import-data' original.pk as adjust_url %}
        <li><a target="_top" onclick="closeSideframe()" href="{{ adjust_url }}">{% trans "Adjust import data" %}</a></li>
        {% url 'admin:translation-request-import-from-archive' original.pk as import_url %}
        <li><a target="_top" onclick="closeSideframe()" href="{{ import_url }}">{% trans "Import from archive" %}</a></li>
    {% endif %}
    {{ block.super }}
{% endblock %}
